
.tittle{
	color: #eb38a6;
}
.yellow:link
{
	color: #03fc77;
}
.yellow:visited
{
    color: #03fc77;
}
img[src="photo1.jpeg"]
{
    height:30vw;  
    width:30vw;
	border:5px solid #393d3a;
	background-size: cover;
	margin:5px;
	float: left;
}
img[src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQm0KkvjwxToMS7f0KG8-c-uKkMFDp_Ta7DaQPkmy00uX7IvlOh&usqp=CAU"]
{   
	
	display: inline-block;
}


.subtitle
{
	color: #fcba03 ;
 }
 .paragraph{
 	color: white;
 	text-align: justify;
 	margin: 40px;
 	font-size:10;
 }
body
{
	background: url("https://cdn2.hubspot.net/hubfs/202339/canvas/images/parallax/Website-Design-Background.png");
    font-size:1.25em;
    text-align: justify;

}

h2
{
	color: #eb38a6;
}
.table
{
	color: #fcba03;
}
.tittle1
{
	color: #03fc77;
}
.projects
{
	color: red;
}
.fedbck
{
	 color:#03fc77;
	text-align: center;}
#frm1
{
	text-align: center;
color: #fcba03;
}
.message
{
	vertical-align: top;
}
.contact
{
	list-style: inside;

}
.footer {  
	position: fixed;  
	bottom: 5px;  
	width: 100%;  
	background-color: grey;  
	color: white;  
	text-align: center;  
	}  
